<header class="header bg-white b-b clearfix p-md fixedheader box-shadow" id="fixedheader" style="position:fixed;  z-index:1000;">
  <div class="row">
    <div class="col-sm-6">
      <span class="bold text-muted deals-breadcrumb">
        Contacts
      </span>
    </div>
    <div class="col-sm-6 text-right">
      <%= link_to new_contact_path, class: "btn btn-sm btn-danger no-text-shadow btn-shadow" do %>
        <i class="i i-user2"></i> New Contact
      <% end %>
    </div>
  </div>
</header>
<div class="top61">
  <div class="p-xl">
    <div class="row">
      <div class="col-sm-12">
        <table class="table bold uppercase m-b-xl">
          <thead>
            <tr>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            <% @contacts.each do |contact| %>
            <tr>
              <td><%= contact.full_name %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>