<h4 class="text-u-c">Filters</h4>
<div class="form-group">
	<label>City</label>
		<button data-toggle="dropdown" class="btn btn-sm btn-default btn-block dropdown-toggle" style="padding:7px 16px;">
	    <span class="dropdown-label pull-left" data-placeholder="Please select">City</span> 
	    <div class="pull-right">
	    	<span class="caret" style="margin-left:30px;"></span>
	    </div>
	  </button>
	  <ul class="dropdown-menu dropdown-select">
	    <li><a href="#"></a></li>
	    <li><a href="#"></a></li>
	  </ul>
	
</div>
<div class="form-group">
	<label>Owner</label>
		<button data-toggle="dropdown" class="btn btn-sm btn-default btn-block dropdown-toggle" style="padding:7px 16px;">
	    <span class="dropdown-label pull-left" data-placeholder="Please select">Owner</span> 
	    <div class="pull-right">
	    	<span class="caret" style="margin-left:30px;"></span>
	    </div>
	  </button>
	  <ul class="dropdown-menu dropdown-select">
	    <li><a href="#"></a></li>
	    <li><a href="#"></a></li>
	  </ul>
</div>
<div class="form-group">
	<label>Space Type</label>
		<button data-toggle="dropdown" class="btn btn-sm btn-default btn-block dropdown-toggle" style="padding:7px 16px;">
	    <span class="dropdown-label pull-left" data-placeholder="Please select">Space Type</span> 
	    <div class="pull-right">
	    	<span class="caret" style="margin-left:30px;"></span>
	    </div>
	  </button>
	  <ul class="dropdown-menu dropdown-select">
	    <li><a href="#"></a></li>
	    <li><a href="#"></a></li>
	  </ul>
	
</div>
<div class="form-group">
	<label>Most Active User</label>
		<button data-toggle="dropdown" class="btn btn-sm btn-default btn-block dropdown-toggle" style="padding:7px 16px;">
	    <span class="dropdown-label pull-left" data-placeholder="Please select">Most Active User</span> 
	    <div class="pull-right">
	    	<span class="caret" style="margin-left:30px;"></span>
	    </div>
	  </button>
	  <ul class="dropdown-menu dropdown-select">
	    <li><a href="#"></a></li>
	    <li><a href="#"></a></li>
	  </ul>
</div>
<div class="form-group">
	<label>Status</label>
		<button data-toggle="dropdown" class="btn btn-sm btn-default btn-block dropdown-toggle" style="padding:7px 16px;">
	    <span class="dropdown-label pull-left" data-placeholder="Please select">Status</span> 
	    <div class="pull-right">
	    	<span class="caret" style="margin-left:30px;"></span>
	    </div>
	  </button>
	  <ul class="dropdown-menu dropdown-select">
	    <li><a href="#"></a></li>
	    <li><a href="#"></a></li>
	  </ul>
</div>
<label>Size (SF)</label>
<div class="row">

	<div class="col-md-5">
		<input type="text" class="form-control" />
	</div>
	<div class="col-md-2">
		to
	</div>
	<div class="col-md-5">
		<input type="text" class="form-control" />
	</div>
</div>
<label>Size (SF)</label>
<div class="row">

	<div class="col-md-5">
		<input type="text" class="form-control" />
	</div>
	<div class="col-md-2">
		to
	</div>
	<div class="col-md-5">
		<input type="text" class="form-control" />
	</div>
</div>
<label>Size (SF)</label>
<div class="row">

	<div class="col-md-5">
		<input type="text" class="form-control" />
	</div>
	<div class="col-md-2">
		to
	</div>
	<div class="col-md-5">
		<input type="text" class="form-control" />
	</div>
</div>
<label>Size (SF)</label>
<div class="row">

	<div class="col-md-5">
		<input type="text" class="form-control" />
	</div>
	<div class="col-md-2">
		to
	</div>
	<div class="col-md-5">
		<input type="text" class="form-control" />
	</div>
</div>
<label>Size (SF)</label>
<div class="row">

	<div class="col-md-5">
		<input type="text" class="form-control" />
	</div>
	<div class="col-md-2">
		to
	</div>
	<div class="col-md-5">
		<input type="text" class="form-control" />
	</div>
</div>





























	
