%h4.text-u-c Filters
.form-group
  %label City
  %button.btn.btn-sm.btn-default.btn-block.dropdown-toggle{"data-toggle" => "dropdown", :style => "padding:7px 16px;"}
    %span.dropdown-label.pull-left{"data-placeholder" => "Please select"} City
    .pull-right
      %span.caret{:style => "margin-left:30px;"}
  %ul.dropdown-menu.dropdown-select
    %li
      %a{:href => "#"}
    %li
      %a{:href => "#"}
.form-group
  %label Owner
  %button.btn.btn-sm.btn-default.btn-block.dropdown-toggle{"data-toggle" => "dropdown", :style => "padding:7px 16px;"}
    %span.dropdown-label.pull-left{"data-placeholder" => "Please select"} Owner
    .pull-right
      %span.caret{:style => "margin-left:30px;"}
  %ul.dropdown-menu.dropdown-select
    %li
      %a{:href => "#"}
    %li
      %a{:href => "#"}
.form-group
  %label Space Type
  %button.btn.btn-sm.btn-default.btn-block.dropdown-toggle{"data-toggle" => "dropdown", :style => "padding:7px 16px;"}
    %span.dropdown-label.pull-left{"data-placeholder" => "Please select"} Space Type
    .pull-right
      %span.caret{:style => "margin-left:30px;"}
  %ul.dropdown-menu.dropdown-select
    %li
      %a{:href => "#"}
    %li
      %a{:href => "#"}
.form-group
  %label Most Active User
  %button.btn.btn-sm.btn-default.btn-block.dropdown-toggle{"data-toggle" => "dropdown", :style => "padding:7px 16px;"}
    %span.dropdown-label.pull-left{"data-placeholder" => "Please select"} Most Active User
    .pull-right
      %span.caret{:style => "margin-left:30px;"}
  %ul.dropdown-menu.dropdown-select
    %li
      %a{:href => "#"}
    %li
      %a{:href => "#"}
.form-group
  %label Status
  %button.btn.btn-sm.btn-default.btn-block.dropdown-toggle{"data-toggle" => "dropdown", :style => "padding:7px 16px;"}
    %span.dropdown-label.pull-left{"data-placeholder" => "Please select"} Status
    .pull-right
      %span.caret{:style => "margin-left:30px;"}
  %ul.dropdown-menu.dropdown-select
    %li
      %a{:href => "#"}
    %li
      %a{:href => "#"}
%label Size (SF)
.row
  .col-md-5
    %input.form-control{:type => "text"}/
  .col-md-2
    to
  .col-md-5
    %input.form-control{:type => "text"}/
%label Size (SF)
.row
  .col-md-5
    %input.form-control{:type => "text"}/
  .col-md-2
    to
  .col-md-5
    %input.form-control{:type => "text"}/
%label Size (SF)
.row
  .col-md-5
    %input.form-control{:type => "text"}/
  .col-md-2
    to
  .col-md-5
    %input.form-control{:type => "text"}/
%label Size (SF)
.row
  .col-md-5
    %input.form-control{:type => "text"}/
  .col-md-2
    to
  .col-md-5
    %input.form-control{:type => "text"}/
%label Size (SF)
.row
  .col-md-5
    %input.form-control{:type => "text"}/
  .col-md-2
    to
  .col-md-5
    %input.form-control{:type => "text"}/
