/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap-wysihtml5
 *= require bootstrap
 *= require animate
 *= require font-awesome.min
 *= require icon
 *= require font
 *= require app
 *= require_self
*/
@font-face{
    font-family:'AvenirLT-Medium';
    src:font-url('/assets/avenirlt-medium.eot');
    src:font-url('/assets/avenirlt-medium.eot?#iefix') format("embedded-opentype"),
        font-url('/assets/avenirlt-medium.woff') format("woff"),
        font-url('/assets/avenirlt-medium.ttf') format("truetype")
}
@font-face{
    font-family:'AvenirLT-Black';
    src:font-url('/assets/avenirlt-black.eot');
    src:font-url('/assets/avenirlt-black.eot?#iefix') format("embedded-opentype"),
        font-url('/assets/avenirlt-black.woff') format("woff"),
        font-url('/assets/avenirlt-black.ttf') format("truetype")
}
.header a {
	color: #333;
}

* {
	outline: none !important;
	letter-spacing: normal;
}
html, body, #wrapper {
    height: 100%;

}
body {
	color: #565a5c;
    font-family:'AvenirLT-Medium';
    background:transparent;
}
#alert-fadeout {
  position: absolute;
  right: 20px;
  top:20px;
  width: 150px;
  z-index: 1000;
}
.white-bg {
    background: #fff;
}
body.devise {
    background: #fff;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;   
    height: 100%;     
}
.top61 {
  padding-top:61px;
}
.bold {
  font-family:'AvenirLT-Black';
}
.p-xl {
    padding: 30px;
}
.panel-body h1 {
    margin: 0 0 20px;
}
.blue {
    color: #398ae4;
}
.devise .form-control {
    height: 45px;
}
.upload-dashed {
background-color: #f2f2f2;
border: 2px dashed #d9d9d9;
text-align: center;
padding: 40px 30px;
width: 150px;
height: 150px;
float: left;
margin-right: 20px;
}
.center {
text-align: center;
}
.logo-outline {
    background: #f2f2f2;
    border: 1px dashed #d9d9d9;
    padding: 30px;
}
.template-widget {
padding: 5px;
border: 1px solid #e0e4e8;

border-radius: 2px;

margin-bottom: 20px;
}
.template-widget-content {
text-align: center;
padding: 20px;
}


* {
    outline: none !important;
    margin: 0; 
    padding: 0;
}
#page {
    display:table;
    overflow:hidden;
    margin:0px auto;
}
*:first-child+html #page {
    position:relative;
}/*ie7*/
* html #page {
    position:relative;
}/*ie6*/

#content_container{
    display:table-cell;
    vertical-align: middle;
}
*:first-child+html #content_container{
    position:absolute;
    top:50%;
    }/*ie7*/
* html #content_container{
    position:absolute;
    top:50%;
    }/*ie6*/

*:first-child+html #content{
    position:relative;
    top:-50%;
    }/*ie7*/
* html #content{
    position:relative;
    top:-50%;
    }/*ie6*/

#page{
    height:100%;
    width:465px;
}

iframe {
    width: 100%;
    border: none;
    height:100%;
}

.accordian .panel {
    box-shadow: none;
    margin: 0 0 10px 0;
}
.accordian .panel:last-child {
    padding-bottom: 300px;
}
.accordian .panel .panel-collapse {
    padding:10px; 
    background: #f5f5f5;
    border: 1px solid #efefef;
}
.accordion-toggle {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
}
.accordion-toggle i {
    margin-top: 3px;
}
.accordian .panel .panel-collapse .form-group:last-child {
    margin-bottom: 0px;
}
.nav-sm-title {
    font-size: 11px;
    color: #c7c7c7;
    text-transform: uppercase;
    font-family:'AvenirLT-Black';
}
.market-widget {
    border: 1px solid #d4d9df;
    margin-bottom:40px;
    width: 836px;
    background: #fff;
}
.market-time-ago {
    font-size: 10px;
    color: #999999;
    text-transform: uppercase;
    margin: 0;
}
.market-widget-top {
    padding: 10px 10px 5px 10px;
    font-family: 'AvenirLT-Black';
    border-bottom: 1px solid #e9e8e6;
}
.market-widget-top h3 {
    margin: 0;
    padding: 0;
}
.market-widget-content {
    padding: 10px;
}
.market-widget-right {
    float: right;
    width: 80%;
}
.market-widget-left {
    float: left;
    width: 20%;
    padding: 0px;
    
}
.market-widget-right .table {
    margin:0;
}
.new-deal .form-group {
    margin: 0;
    padding: 15px;
    border-bottom: 1px solid #e7e7e7;
}
.new-deal .form-group:last-child {
    border-bottom: none;
}
.new-deal .form-control {
    border: none;
}
.new-deal label.control-label {
    text-align: left;
    font-weight: 700;
}
.no-text-shadow {
    text-shadow: none;
}
.btn-link:hover {
    text-decoration: none;
}
#feedback {
    position: absolute;
    top: 300px;
    right: 300px;
}
.fake_tooltip {
  position: absolute;
  
  background: #f9f9fa;
  border:1px solid #cfd3d7;
  padding:20px;
  border-radius: 3px;
  color: #8b969e;
  font-size:15px;
  font-weight: 700;
}
.fake_tooltip.save {
  right:15px;
  top:140px;
}
.fake_tooltip.template {
  right:260px;
  top:300px;
  width: 300px;
}
.fake_tooltip.customize_tooltip {
  right:260px;
  top:175px;
  width: 300px;
}
.fake_tooltip.homepage_content_tooltip {
  right:390px;
  top:175px;
  width: 300px;
}
.fake_tooltip.homepage_heading_tooltip {
  right:390px;
  top:220px;
  width: 300px;
}
.fake_tooltip.homepage_subheading_tooltip {
  right:390px;
  top:317px;
  width: 300px;
}
.fake_tooltip.homepage_textarea_tooltip {
  right:390px;
  top:480px;
  width: 300px;
}
.fake_tooltip.homepage_gallery {
  right:260px;
  top:175px;
  width: 300px;
}
.fake_tooltip.bottom_footer {
  width: 300px;
  bottom:90px;
}
.fake_tooltip.left_sidebar {
  width: 300px;
  left:200px;
}
.fake_tooltip.left_sidebar.image_btn {
  top:182px;
}
.fake_tooltip.bottom_footer.draft_btn {
  right:70px;
}
.fake_tooltip.bottom_footer.parent_page_btn {
  left:-35px;
}
.fake_tooltip .arrow.top:after {
  content: " ";
  top: 1px;
  margin-left: -7px;
  border-top-width: 0;
  border-bottom-color: #f9f9fa;
}
.fake_tooltip .arrow.top {
  left: 50%;
  margin-left: -8px;
  border-top-width: 0;
  border-bottom-color: #eee;
  border-bottom-color: #c0c0c0;
  top: -8px;
}
.fake_tooltip .arrow.bottom {
  left: 50%;
  margin-left: -8px;
  border-bottom-width: 0;
  border-top-color: #eee;
  border-top-color: #c0c0c0;
  bottom: -8px;
}
.fake_tooltip .arrow.bottom:after {
content: " ";
bottom: 1px;
margin-left: -7px;
border-bottom-width: 0;
border-top-color: #f9f9fa;
}
.fake_tooltip .arrow.right:after {
content: " ";
right: 1px;
border-right-width: 0;
border-left-color: #f9f9fa;
bottom: -7px;
}
.fake_tooltip .arrow.right {
top: 50%;
right: -8px;
margin-top: -8px;
border-right-width: 0;
border-left-color: #eee;
border-left-color: #c0c0c0;
}
.fake_tooltip .arrow.left {
top: 50%;
left: -8px;
margin-top: -8px;
border-left-width: 0;
border-right-color: #eee;
border-right-color: #c0c0c0;
}
.fake_tooltip .arrow.left:after {
content: " ";
left: 1px;
border-left-width: 0;
border-right-color: #f9f9fa;
bottom: -7px;
}
.display-none {
  display: none;
}

.table-header {
  border: 1px solid #dee1e5;
  background: #f9f9fb;
  border-radius: 2px 2px 0 0;
  padding: 10px;
  border-bottom: 0px;
}
.table {
  border:none;   
}
.table > thead {
  background:#f6f7fa;
}
.table > thead.market-table,
.table > tbody.market-table {
  background: #fbfaf7;
  border-bottom: 1px solid #e9e8e6;
}
.table > thead > tr {
  color: #666;
  font-size: 14px;
}
.btn-lg {
  padding: 13px 16px;
  font-size: 13px;
  font-weight: normal;
  font-family: 'AvenirLT-Medium';
}
.wysihtml5-toolbar .btn {
  text-shadow: none;
}
.box-shadow,
.market-widget {
  box-shadow: 0 2px 1px rgba(0,0,0,0.04);
}
.p-md {
    padding: 15px;
}
.nav-sm-title {
    font-size: 11px;
    color: #c7c7c7;
    text-transform: uppercase;
    font-family: 'AvenirLT-Black';
}
.bg-offwhite {
    background: #fcfdfc;
}
.fixedheader {
    position: fixed;
    z-index: 1000;
}
.panel-body h3 {
margin: 0 0 5px;
}
.text-muted-extra {
color: #dbdbdb;
}
.btn-square {
  width: 150px;
  height: 148px; 
  margin-right:16px;
  margin-bottom:0px; 
  float: left;
  padding-top:44px;
}
.preview-img-border {
border-radius:3px;
border:1px solid #ddd;
padding:4px;
margin-right:16px;
height: 150px;
width: 150px;
margin-bottom:16px;
}
#chat {
  height: 300px;
  width: 300px;
  background: white;
  border:1px solid #d4d9df;
  position: fixed;
  bottom:0;
  right:260px;
  padding:10px;
}

.chatbox {
    position: fixed;
    position: expression("absolute");
    width: 280px;
    display: none;
}
 
.chatboxhead {
    background: #666;
    color: white;
    padding: 0.5rem;
    overflow: hidden;
 
    border-right: 1px solid rgba(85, 85, 85, 0.87);
    border-left: 1px solid rgba(85, 85, 85, 0.87);
}
 
.chatboxhead h1 {
    display: inline;
    font-size: 17px;
    font-weight: 700;
}
 
.chatboxblink {
    background-color: #176689;
    border-right: 1px solid #176689;
    border-left: 1px solid #176689;
}
 
.chatboxcontent {
    font-family: arial, sans-serif;
    height: 280px;
    width: 280px;
    overflow-y: auto;
    padding: 7px;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #eeeeee;
    background: #e5e5e5;
    line-height: 1.3em;
    list-style: none;
}
 
.chatboxcontent li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
}
 
.chatboxcontent .avatar {
    width: 40px;
    position: relative;
}
 
.chatboxcontent .avatar img {
    display: block;
    width: 100%;
}
 
.other .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-left-color: transparent;
    border-bottom-color: transparent;
}
 
.self {
    justify-content: flex-end;
    align-items: flex-end;
}
 
.self .chatboxmessagecontent {
    order: 1;
    border-bottom-right-radius: 0;
}
 
.self .avatar {
    order: 2;
}
 
.self .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
 
.chatboxmessagecontent {
    background: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
 
.chatboxmessagecontent p {
    font-size: 12px;
    margin: 0 0 0.2rem 0;
    -ms-word-break: break-all;
 
    /* Non standard for webkit */
    word-break: break-word;
 
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
 
.chatboxmessagecontent time {
    font-size: 9px;
    color: #ccc;
}
 
.chatboxinput {
    padding: 5px;
    background-color: #ffffff;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}
 
.chatboxtextarea {
    width: 262px;
    height: 44px;
    padding: 3px 0pt 3px 3px;
    border: 1px solid #eeeeee;
    margin: 1px;
    overflow: hidden;
    resize: none !important;
}
 
.chatboxtextareaselected {
    border: 2px solid #878787;
    margin: 0;
}
 
.chatboxmessage {
    margin-left: 1em;
}
 
.chatboxinfo {
    margin-left: -1em;
    color: #666666;
 
}
 
.chatboxoptions {
    float: right;
}
 
.chatboxoptions a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
 
.chatboxtitle {
    float: left;
}
.datepicker {
  top: 0;
  left: 0;
  padding: 4px;
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  /*.dow {
    border-top: 1px solid #ddd !important;
  }*/

}
.datepicker:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 6px;
}
.datepicker:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 7px;
}
.datepicker > div {
  display: none;
}
.datepicker table {
  width: 100%;
  margin: 0;
}
.datepicker td,
.datepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker td.day:hover {
  background: #eeeeee;
  cursor: pointer;
}
.datepicker td.day.disabled {
  color: #eeeeee;
}
.datepicker td.old,
.datepicker td.new {
  color: #999999;
}
.datepicker td.active,
.datepicker td.active:hover {
  color: #ffffff;
  
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td.active:hover,
.datepicker td.active:hover:hover,
.datepicker td.active:focus,
.datepicker td.active:hover:focus,
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active,
.datepicker td.active.disabled,
.datepicker td.active:hover.disabled,
.datepicker td.active[disabled],
.datepicker td.active:hover[disabled] {
  color: #ffffff;
  background-color: #FF5A5F;
  
}
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active {
  background-color: #003399 \9;
}
.datepicker td span {
  display: block;
  width: 47px;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 2px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker td span:hover {
  background: #eeeeee;
}
.datepicker td span.active {
  color: #ffffff;
  
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td span.active:hover,
.datepicker td span.active:focus,
.datepicker td span.active:active,
.datepicker td span.active.active,
.datepicker td span.active.disabled,
.datepicker td span.active[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}
.datepicker td span.active:active,
.datepicker td span.active.active {
  background-color: #003399 \9;
}
.datepicker td span.old {
  color: #999999;
}
.datepicker th.switch {
  width: 145px;
}
.datepicker th.next,
.datepicker th.prev {
  font-size: 21px;
}
.datepicker thead tr:first-child th {
  cursor: pointer;
}
.datepicker thead tr:first-child th:hover {
  background: #eeeeee;
}
.input-append.date .add-on i,
.input-prepend.date .add-on i {
  display: block;
  cursor: pointer;
  width: 16px;
  height: 16px;
}
.modal-dialog-sm {
  width:400px;
}
.deals-breadcrumb {
  text-transform:uppercase; 
  font-size:11px; 
  position:relative; 
  top:6px;
}
.table-white {
  
  border-radius: 2px;
  width:100%;
  thead {
    background: #fff;
    

  }
}
.table-white > thead > tr > th {
  padding: 13px 15px 11px;
  border-bottom: 1px solid #e0e0e0; 
}
.table-white > tbody > tr {
  background: #fff;
}
.table-white > tbody > tr:nth-child(even) {
  background: #f4f4f4 !important;
}
.table-white > tbody tr:first-child {
  box-shadow:inset 0 2px 3px rgba(0,0,0,0.06);
}
.div-table {
  background:#fff; 
  border: 1px solid #d4d9e0; 
  border-radius:2px;
  color: #666;
  .div-table-head {
    padding: 13px 15px 11px; 
    border-bottom: 1px solid #d4d9e0;
  }
  .div-table-body {
    padding: 15px 15px 0 15px;
    color: #989898;
    .row {
      padding: 15px 0px 15px; 
      border-bottom:1px solid #e0e0e0;
      &:first-child {
        padding-top: 0px;
      }
      &:last-child {
        padding-bottom: 15px;
        border-bottom:none;
      }
      &:nth-child(even) {
        background: #f4f4f4;
        border-top:1px solid white;
      }
    }
  }
}
.uppercase {
  text-transform: uppercase;
}

































































