<aside class="bg-dark lter b-r aside hidden-print nav-xs">
  <section class="vbox">
    <nav class="nav-primary hidden-xs">
      
    </nav>
    <% unless params[:action] == "index" && params[:controller] == "deals" %>
      <footer class="footer hidden-xs no-padder text-center-nav-xs"> 
       <a href="#nav" data-toggle="class:nav-xs" class="btn btn-icon icon-muted btn-inactive m-l-xs m-r-xs active" id="toggle"> 
          <i class="i i-circleleft text"></i> 
          <i class="i i-circleright text-active"></i> 
        </a> 
      </footer>
    <% end %>
  </section>
</aside>